.new-pixel-grid-16x16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 0;
  width: fit-content;
}

.new-pixel-grid-32x32 {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  gap: 0;
  width: fit-content;
}

.new-pixel-grid-64x64 {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  gap: 0;
  width: fit-content;
}

.new-pixel-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.new-pixel {
  width: calc(100% / 32); /* Adjust pixel width for 32x32 grid */
  padding-bottom: calc(100% / 32); /* Adjust aspect ratio for 32x32 grid */
  background-color: #6F4E37;
  border: 0.1px solid rgba(204, 204, 204, 0.1);
}

.new-pixel:hover {
  background-color: #000000;
}