.container {
  max-width: 1000px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  border: .1px solid #2c2b2b;
  border-radius: 5px;
  background-color: #333;
  overflow: hidden; /* Clear the float */
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.form-group {
  margin-bottom: 20px;
  color: white;
}

label {
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}


.pixel-grid {
  position: relative;
  gap: -1px;
  right: 25px
}


.pixel-grid-32 {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(32, 20px); /* Adjust the width of each column */
  max-width: 960px; /* Adjust the maximum width to accommodate the larger grid */
  margin: 10px auto;
}

.pixels {
  width: var(--pixel-width, 30px);
  height: var(--pixel-height, 30px);
  border: .1px solid #CCCCCC;
}

.pixel-grid-32 .pixels {
  width: 25px;
  height: 25px;
}

/* Add styles for hover or other interactions if needed */
.pixel:hover {
  background-color: #000000;
}

.button-container {
  text-align: center;
  margin-top: 20px;
  clear: both; /* Clear the floats */
}

.color-picker-container {
  position: relative;
  float: right;
  width: 50%; /* Set the width of the column */
  right: 258px;
}

.color-picker-container label {
  margin-bottom: 5px;
  right: 1000px;
}

.chrome-picker {
  position: absolute;
  top: 50px; /* Adjust the distance from the top */
  left: calc(100% + 20px); /* Move the color picker to the right */
  width: 200px; /* Adjust the width of the color picker */
  z-index: 1; /* Ensure the color picker appears above other elements */
}

label[for="color"] {
  position: absolute;
  top: 20px; /* Adjust the vertical position as needed */
  right: -70px; /* Adjust the horizontal position as needed */
  display: block;
  text-align: right; /* Align the label text to the right */
  margin-bottom: 5px; /* Adjust as needed */
}
