.navbar {
  background-color: #333; /* Example background color */
  color: white;
  width: 250px; /* Adjust as needed */
  height: 100%; /* Fill the height of the viewport */
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  border-right: 1px solid #666; /* Add a border to the right for the sidebar */
  z-index: 10; /* Ensure the navbar is above other content */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin-bottom: 10px; /* Adjust spacing between items */
}

.navbar a {
  text-decoration: none;
  color: white;
  display: block; /* Make each link a block element */
  padding: 10px; /* Add padding to links for spacing */
  border-radius: 5px; /* Add border radius for rounded corners */
}

.navbar a:hover {
  background-color: #555; /* Change background color on hover */
}

.content {
  margin-left: 250px; /* Adjust to match the width of the sidebar */
  padding: 20px;
}