

.new-pixel-art-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 800px;
  margin: 10px auto;
  color: white;
}

.new-pixel-art-item {
  width: calc(50% - 10px); /* Adjust the width calculation */
  box-sizing: border-box;
  margin-bottom: 20px;
}

.new-pixel-grid {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(16, 1fr);
  width: 100%; /* Ensure the grid takes full width */
  box-sizing: border-box;
}

.new-pixel-grid-32 {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(32, 1fr);
  width: 100%; /* Ensure the grid takes full width */
  box-sizing: border-box;
}

.new-pixel-grid-64 {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(64, 1fr);
  width: 100%; /* Ensure the grid takes full width */
  box-sizing: border-box;
}

.new-pixel {
  width: 100%;
  padding-bottom: 100%;
  background-color: #6F4E37;
  border: 0.1px solid rgba(204, 204, 204, 0.1);
}

.new-pixel:hover {
  background-color: #000000;
}