.pixel-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 0px;
  max-width: 400px;
  margin: 0 auto;
}

.pixel-grid-32 {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  gap: 0px;
  max-width: 800px;
  margin: 10px auto;
}

.pixel-grid-64 {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(64, 1fr);
  max-width: 800px;
  margin: 10px auto;
}

.pixel-grid-64 .pixel-row {
  display: grid;
}

.pixel {
  width: 100%;
  flex: 1; /* Ensures each pixel takes up equal space in the row */
  padding-bottom: 100%; /* Maintains a square aspect ratio */
  background-color: #6F4E37;
  border: 0.1px solid rgba(204, 204, 204, 0.1);
}

.pixel:hover {
  background-color: #000000;
}

.pixel-art-details {
  text-align: center;
  margin-top: 10px;
}

.pixel-grid-container {
  text-align: center;
}

.like-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Adjust as needed */
}

.like-container p {
  margin-right: 250px; /* Adjust as needed */
}

.pixel-art-details {
  color: white;
}